.web
.states
assets/external/
*.db
__pycache__/
*.py[cod]
*.png
*.txt
chromedriver
*.pyc
.pyc
*.jpg
*.flox
*.direnv


# Added by cargo
**/target/

# CEF / Chromium Artifacts
*.pak
*.dat
*.bin
locales/
archive.json
vk_swiftshader_icd.json
chrome-sandbox
*.so
*.so.*
cef_paths.gypi
cef_paths2.gypi
BUILD.bazel
MODULE.bazel
WORKSPACE
Doxyfile
CREDITS.html
Release/
Resources/
Debug/
bazel/
cmake/
include/
lib/
libcef_dll/
tests/

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
