[Desktop Entry]
Name=Rustclock
Comment=deathclock in rust
Type=Application
Icon=com.github.pop-os.cosmic-app-template
Exec=rustclock %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
